* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* regole del header */
header {
    background-color: lightblue;
    height: 600px;
}

/* regole del contenitore-header */
.contenitore-nav {
    display: flex;
    justify-content: center;
    height: 100px;
    /* margin: 0 20px; */   
}
.logo, .nav, .login {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    /* DEBUG */ 
    border: dashed 2px black;
    background-color: orange;  
}
.logo, .login {
    flex-basis: 12%;
    padding: 10px;
}
.login {
    justify-content: flex-end;
}
.nav {
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-basis: 50%;
}
a {
    text-decoration: none;
}

/* creazione jumbo */
.contenitore-jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: rgb(2, 2, 97);
    height: 500px;
}

.jumbo {
    flex-basis: 57%;
    /* DEBUG */
    border: dashed 2px black;
    background-color: rgb(225, 131, 238);
    height: 400px;
}

/* REGOLE MAIN */
.prima-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    /* DEBUG */
}
.pg-grey {
    display: flex;
    background-color: rgb(179, 179, 179);
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 600px;
}
.pg-grey1 {
    display: flex;
    background-color: rgb(179, 179, 179);
    justify-content: center;
    align-items: center;
    height: 900px;
}

.blu {
    flex-basis: 40%;
    /* DEBUG */
    height: 500px;
    border: dashed 2px black;
    background-color: rgb(1, 138, 218);
}
.rosa {
    flex-basis: 28%;
    /* DEBUG */
    height: 500px;
    border: dashed 2px black;
    background-color: rgb(233, 173, 215);
}
.verde1 {
    flex-basis: 68%;
    /* DEBUG */
    border: dashed 2px black;
    background-color: green;
    height: 800px;
}

/* regole footer primo footer */
.primofooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 760px;
    background-color: black;
}
.red {
    flex-basis: 24%;
    /* DEBUG */
    background-color: rgb(252, 127, 127);
    border: dashed black 2px;
    height: 700px;
    margin-bottom: 30px;
}
.verde {
    flex-basis: 11%;
    /* DEBUG */
    background-color: rgb(0, 148, 91);
    border: dashed white 2px;
    height: 700px;
    margin-bottom: 30px;
}

/* regole ultimo footer */
.ultimofooter {
    display: flex;
    align-items: end;
    justify-content: center;
    /* DEBUG */
    background-color: black;
    height: 125px;
}
.sfondoverde {
    display: flex;
    flex-basis: 68%;
    align-items: center;
    justify-content: space-between;
    /* DEBUG */
    background-color: aquamarine;
    height: 100px;
}
.button {
    flex-basis: 6%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    /* DEBUG */
    background-color: pink;
    height: 40px;
    border: dashed 2px black;
}

   

 
